# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.manifest
*.spec

# Django / SQLite
db.sqlite3
*.log
media/
staticfiles/
static/

# Virtual environments
venv/
.env/
.env.local
*.env

# Docker
.dockerignore
*~ 
*.swp

# IDE / Editor
.vscode/
.idea/
*.iml

# OS specific
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
*.pytest_cache/
*.mypy_cache/
*.tox/
.ruff_cache/
